body{
  background-image:url('back_2.jpg');
  background-repeat:no-repeat;
  width: 50vw;
  height: 97.5vh;
  opacity: 0.7;
  background-size:cover ;
}
.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: .3s ease; 
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: .3s ease;
}

.btn:hover {
  color: #1e1e2b;
  transition-delay: .3s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: '';
  border-radius: 10px 100px / 120px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ace057;
  transition: .2s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.2s;
  color: aliceblue;
}
.button{
  position:relative;
  top:25%;
  left: 70%;
  right: 50%;
  justify-content: center;
}
.para{
  display: block;
  position: relative;
  font-size: 150%;
  left: 80%;
  right: 0%;
  color: aliceblue;
}
h3{
  position: relative;
  left: 20%;
  display: inline;
  font-size: 500%;
  text-align: center;
  color: azure;
}
h1{
text-align: center;
color: aliceblue;
}

form{
background-color: rgba(255,255,255,0.13);
padding: 50px 35px;
border-radius: 10px;
display: flex;
flex-direction: column;
width: 60%;
margin: auto;
border: #ddd;
}
form input,form textarea{
border-radius:10px;
padding: 15px;
margin-bottom: 20px;
outline: none;
border: none;
background-color: #ddd;
}
form label{
font-size: 16px;
color: #ddd;
}

.photo-upload{
position: absolute;
background-color: transparent;
color: #ddd;
padding: 0px;
border-radius: 0px;
left: 30%;
bottom: 30%;
}

#myMap{
position: absolute;
height: 250px;
width: 450px;
left: 700px;
bottom: 0%;
}

.dropbtn {
background-color: #04AA6D;
color: white;
margin: 10px;
padding: 8px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f6f6f6;
min-width: 230px;
overflow: auto;
border: 1px solid #ddd;
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.submit-btn{
border-radius: 200px;
outline: auto;
cursor: pointer;
background-color: rgb(88, 75, 55);
color: white;
outline-color: #1e1e2b;
}

.drag-area{
left: 700px;
top: 120px;
position: absolute;
margin: 0;
padding: 0;
box-sizing: border-box;
border: 2px dashed #fff;
height: 250px;
width: 450px;
border-radius: 5px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.drag-area.active{
border: 2px solid #fff;
}
.drag-area .icon{
font-size: 100px;
color: #fff;
}
.drag-area header{
font-size: 30px;
font-weight: 500;
color: #fff;
}
.drag-area span{
font-size: 25px;
font-weight: 500;
color: #fff;
margin: 10px 0 15px 0;
}
.drag-area button{
padding: 10px 25px;
font-size: 20px;
font-weight: 500;
border: none;
outline: none;
background: #fff;
color: #5256ad;
border-radius: 5px;
cursor: pointer;
}
.drag-area img{
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 5px;
}

.topnav {
background-color: rgb(201, 212, 250);
overflow:hidden;
width: 198%;
height: 87px;
}

/* Style the links inside the navigation bar */
.topnav a {
float: right ;
color: #0e0101;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #6E1FDA;
color: #f3eef9;
}